<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- valid values are [ small | medium | large ] -->
    <add key="BoardSize" value="medium"/>

    <!-- valid values are [ flotilla | squadron | armada ] -->
    <add key="FleetType" value="squadron"/>

    <!-- valid values are [ random | topleft ] -->
    <add key="SetupType" value="random"/>

    <!-- sizes of the boards defined above -->
    <!-- dropping the selected option below 5 will prevent the game from starting -->
    <add key="Small" value="8"/>
    <add key="Medium" value="10"/>
    <add key="Large" value="12"/>

    <!-- displays the locations of undiscovered ships if true -->
    <add key="AllowCheating" value="true"/>
  </appSettings>
</configuration>