<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- valid values are [ small | medium | large ] -->
    <add key="BoardSize" value="medium"/>

    <!-- valid values are [ flotilla | squadron | armada ] -->
    <add key="FleetType" value="squadron"/>

    <!-- valid values are [ random | topleft ] -->
    <add key="SetupType" value="random"/>

    <!-- displays the locations of undiscovered ships if true -->
    <add key="AllowCheating" value="true"/>
  </appSettings>
</configuration>